.idea # почему не исключился каталог .idea? # заметь, файлы с расширением .py + Dockerfile интерпретируют комментарии, как задумывал, но не .gitignore
.venv # нужно ли на реальном проекте иключать каталог окружения? Или например, подход сложнее: оно хранится в облаке, можно стянуть, но нельзя пушить?
# .env # чтобы не потерять файл, пускай будет в репозитории
postgres_data # но ранее уже запушил; как теперь удалить папку из Git-репозитория ?

# сменил имя репозитория через GitHub UI, и теперь не удается запушить: ссылается на интересную ошибку