.idea # почему не исключился каталог .idea? # заметь, файлы с расширением .py + Dockerfile интерпретируют комментарии, как задумывал, но не .gitignore
.venv
# .env # чтобы не потерять файл, пускай будет в репозитории

# сменил имя репозитория через GitHub UI, и теперь не удается запушить: ссылается на интересную ошибку