## Django==3.2.16 # << Django>=5.0,<6.0 >> -- новый для меня синтаксис
## djangorestframework==3.14.0

# os==?? # не нужно указывать версии? почему?


# переписывал фрагмент в соответствии с суждением, развитие которого отражает порядок комментариев

# psycopg2==2.8.6
# psycopg2-binary==2.8.5 # с ним билд не удается и с указанным лишь pcycopg2 тоже не удается: выдает ошибку, ассоциированную с ним # возможно ли такое, что билд не собирался, потому, что в некотором смысле, имел место конфликт версий пакетов или отсутствовал вспомогательный критически важный для комбинации пакет? И впринципе, возможно ли такое, что для множества модулей не все их комбинации версий при прочих равных являются одинаково работоспособными?

# из-за проблемы описанной выше заменил следующим фрагментом:
# psycopg==3.2.6
# psycopg-binary==3.2.8

# столкнулся со странностями во время одного из развертываний в докер:
# Этот лог указывает на ошибку во время билда образов в докер?: Image webapp             pull access denied for webapp, repository does not exist or may require 'docker login'
# web-контейнер, несмотря на успешный старт с импортированными psycopg и psycopg-binary, спамит логами ошибок, ключевая из записей, кажется: django.core.exceptions.ImproperlyConfigured: Error loading psycopg2 module: No module named 'psycopg2'
# возможно, это происходит из-за того что образ собирается с alpine? --> заменил на slim
# замена образа не решила проблемы

# из-за проблемы описанной выше добавил строку:
# psycopg2==2.8.6

# персистировала все та же ошибка; в логах упомянался этот пакет, так что от балды добавил строку:
# psycopg2-binary==2.5.5
# закоментировал все пакеты БД: по совету Chat'а GPT заменил пакеты одной строкой ниже

# psycopg[binary]>=3.1
# << psycopg[binary]>=3.1 >> -- новый для меня синтаксис
# закоментировал из-за проблемы: на рестарт webapp контейнер все же по логам ищет psycopg2 и без него падает; так же отчего-то падает бот

# абсолютно точно напутал, описывая алгоритм перебора комбинаций пакетов, но все, что пробовал до сих пор не взлетели либо клали сервис
# поменял значение дроайвера в подключении БД в settings и собираюсь использовать комбо psycopg + psycopg-binary, может сработает теперь
# пробовал, это не решило проблему
# не удается даже синхронизировать версии пакетов в локальном каталоге окружения пректа с версиями указанными в requiremenents # перешли ошибку Chat'у GPT, спроси, отчего на может возникать

## psycopg[binary]>=3.1


# asincio==?? # не нужно указывать версии? почему?
## aiogram==3.17.0
## aiohttp==3.10.8 # aiohttp>=3.9 # какие pro's указывать версии менее конкретно, как в этом примере?


# в контейнерах на запуск масса ошбок: разобраться

Django>=5.0,<6.0
djangorestframework==3.14.0
psycopg[binary]>=3.1
gunicorn>=21.2 # добавить nginx в compose, наверное без него часть ошибок
aiohttp>=3.9
aiogram>=3.0