Django==6.0.3   # 3.2.16 # << Django>=5.0,<6.0 >> -- новый для меня синтаксис
djangorestframework==3.17.1 # 3.14.0

# os==?? # не нужно указывать версии? почему?

psycopg2==2.8.6 # << psycopg[binary]>=3.1 >> -- новый для меня синтаксис

# asincio==?? # не нужно указывать версии? почему?
aiogram==3.27.0
aiohttp==3.13.5 # aiohttp>=3.9